#---------------------------------------------------------------------------
#Required pip external libraries
#---------------------------------------------------------------------------
customtkinter
